body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.container {
    margin-top: 3%;
}
h2 {
    background-color: #001f3f;
    color: white;
    padding: 1%;
}
.complete-complete {
    background: #FF4136;
    border: 2px solid #FF4136;
    color: white;
    border-radius: 38%;
    cursor: pointer;
}
.complete-pending {
    background: #3D9970;
    border: 2px solid #3D9970;
    color: white;
    border-radius: 38%;
    cursor: pointer;
}
.firstRow {
    border-bottom: 1px solid #cecccc;
    padding: 1%;
}
.text-end {
    text-align: end;
}
.form {
    padding: 1.5%;
    margin-right: 8%;
    border: 1px solid darkgray;
    border-radius: 2.5%;
}
.complete-complete-hide {
   display: block;
}
.complete-complete-show {
    display: none;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}
.todo {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {
        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }

    .ul {
        list-style-type:none;
        margin:0;
        padding:0;

        .li {

            box-shadow: 0px 2px 12px #888888;
            padding-top: 1%;

            &.complete-complete {
                    background: red;
            }

            span {
                background: #e0e0e0;
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 100%;;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}
a:not([href]) {
    color: inherit;
    text-decoration: none;
    margin: 12px;
    cursor: pointer;
}
button:not(:disabled) {
    cursor: pointer;
    background-color: teal;
    color: white;
    border-radius: 5%;
    margin-left: 6%;
}